<div class="container">
    <button id="btnAjaxGet">AJAX Get</button>
    <button id="btnAjaxPost">AJAX Post</button>
    <hr />
    <div id="results" style="width: 300px; height: 100px; background: #333; color: white;">
        Hello World
    </div>
</div>

<script>

    $(document).ready(function () {

        $('#btnAjaxGet').click(function () {
            $.get("https://localhost:44396/api/Practice", function (data, status) {
                $('#results').text(data);
            });
        });

        $('#btnAjaxPost').click(function () {
            $.post("https://localhost:44396/api/Practice", { Test:"testthis" }, function (data, status) {
                $('#results').text(data);
            });
        });

    });

</script>