<div class="container">
    <button id="btnAjaxGet">AJAX Get</button>
    <button id="btnAjaxPost">AJAX Post</button>
    <hr />
    <div id="results" style="width: 300px; height: 100px; background: #333; color: white;">
        Hello World
    </div>

    <div id="loader" style="position: absolute; left: 110px; top: 150px; font-size: 30px; color: #ddd;">
        LOADING...
    </div>
</div>

<script>

    $(document).ready(function () {

        $("#loader").hide();

        $('#btnAjaxGet').click(function () {
            $.ajax({
                url: 'https://localhost:44396/api/Practice',
                type: 'get',
                beforeSend: function () {
                    $("#loader").show();
                },
                success: function (response) {
                    $('#results').empty();
                    $('#results').append(response);
                },
                error: function () {
                    alert("Error");
                },
                complete: function (data) {
                    $("#loader").hide();
                }
            });
        });


        // This is the async/await version ajax 
        // function (for the POST) using a Promise!
        // Now apply the below code to the GET above.
        $('#btnAjaxPost').click(function () {
            doAjax().then((data) => doStuff(data));
        });

        // this is the callback if successful
        function doStuff(data) {
            $('#results').empty();
            $('#results').append(data);
        }

        // this wraps the async ajax call in a try/catch
        async function doAjax(args) {
            let result;
            try {
                result = await $.ajax({
                    url: 'https://localhost:44396/api/Practice',
                    type: 'post',
                    data: { Test: "testthis" } ,
                    beforeSend: function () {
                        $("#loader").show();
                    },
                    complete: function (data) {
                        $("#loader").hide();
                    }
                });
                return result;
            }
            catch (error) {
                console.error(error);
            }
        }

        // this is the (old) synchronous call to ajax function
        //$('#btnAjaxPost').click(function () {
        //    $.ajax({
        //        url: 'https://localhost:44396/api/Practice',
        //        type: 'post',
        //        data: { Test: "testthis" },
        //        beforeSend: function () {
        //            $("#loader").show();
        //        },
        //        success: function (response) {
        //            $('#results').empty();
        //            $('#results').append(response);
        //        },
        //        error: function () {
        //            alert("Error");
        //        },
        //        complete: function (data) {
        //            $("#loader").hide();
        //        }
        //    });
        //});

    });

</script>